body {
    background-color: #C2E9FB;
    color:#172972;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 150% !important;
  
}

math-quiz {
  font-size: 100px !important;
}